@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
label,
a,
span,
p,
small {
  font-style: normal;
  line-height: normal;
  color: #4d4e4c;
}

h1 {
  font-size: 1.25rem;
}

h2,
h3,
h4,
label,
p,
input {
  font-size: 1rem;
}

h5,
small {
  font-size: 0.75rem;
}

span {
  font-size: 0.625rem;
}

h1,
h2,
h3,
h5 {
  font-weight: 600;
}

h4,
label,
span {
  font-weight: 500;
}

p,
input,
small {
  font-weight: 400;
}

@media screen and (min-width: 85rem) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3,
  h4,
  label,
  p {
    font-size: 1.25rem;
  }

  input {
    font-size: 1.125rem;
  }

  h5,
  small {
    font-size: 1rem;
  }

  span {
    font-size: 0.75rem;
  }

  small {
    font-size: 1rem;
    font-weight: 300;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
